<section id="about">
    <div class="container">

        <header class="section-header">
            <!--h3>{{ contentSiteArray?contentSiteArray[0].name:'' }}</h3>
            <p>{{ contentSiteArray?contentSiteArray[0].description:''}}</p-->
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <!--h2 class="title"><a href="#">{{ contentSiteArray?contentSiteArray[1].name:'' }}</a></h2>
                    <p>
                        {{ contentSiteArray?contentSiteArray[1].description:'' }}
                    </p-->
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <!--h2 class="title"><a href="#">{{ contentSiteArray?contentSiteArray[2].name:'' }}</a></h2>
                    <p>
                        {{ contentSiteArray?contentSiteArray[2].description:'' }}
                    </p-->
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <!--h2 class="title"><a href="#">{{ contentSiteArray?contentSiteArray[3].name:'' }}</a></h2>
                    <p>
                        {{ contentSiteArray?contentSiteArray[3].description:'' }}
                    </p-->
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Us Section -->