<!-- ======= Facts Section ======= -->
<section id="facts" class="wow fadeIn">
    <div class="container">
  
      <header class="section-header">
        <h3>Facts</h3>
        <p>Developneur Foundation is a section - 8 company (Not For Profit) registered under Indian Companies Act 2013.</p>
      </header>
      
      <div class="row counters">
  
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">6,000</span><br>
          <p>NO OF CLIENTS SERVED</p>
        </div>
  
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">150</span><br>
          <p>NO OF CITIES</p>
        </div>
  
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">450</span><br>
          <p>NO OF PROFESSIONALS</p>
        </div>
  
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">18</span><br>
          <p>ENTREUPRENEURS</p>
        </div>
      </div>
    </div>
  </section><!-- End Facts Section -->