
<!--nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand px-3" href="#">Developneur Foundation<br><p style="font-size:15px">Empowering Community</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav"> 
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link px-3">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="whoweare" routerLinkActive="active" class="nav-link px-3">Who we are</a>
            </li>
            <li class="nav-item">
                <a routerLink="whatwedo" routerLinkActive="active" class="nav-link px-3">What we do</a>
            </li>
            
            <li class="nav-item">
                <a routerLink="research" routerLinkActive="active" class="nav-link px-3">Research and Innovation</a>
            </li>
            <li class="nav-item">
                <a routerLink="partners" routerLinkActive="active" class="nav-link px-3">Partners and Support</a>
            </li>
            <li class="nav-item">
                <a routerLink="gallery" routerLinkActive="active" class="nav-link px-3">Gallery</a>
            </li>
            
        </ul>
      </div>
  </nav-->

  <!--nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand px-3" href="#">Developneur Foundation<br><p style="font-size:15px">Empowering Community</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav"> 
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link px-3">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="whoweare" routerLinkActive="active" class="nav-link px-3">Who we are</a>
            </li>
            <li class="nav-item">
                <a routerLink="whatwedo" routerLinkActive="active" class="nav-link px-3">What we do</a>
            </li>
            
            <li class="nav-item">
                <a routerLink="research" routerLinkActive="active" class="nav-link px-3">Research and Innovation</a>
            </li>
            <li class="nav-item">
                <a routerLink="partners" routerLinkActive="active" class="nav-link px-3">Partners and Support</a>
            </li>
            <li class="nav-item">
                <a routerLink="gallery" routerLinkActive="active" class="nav-link px-3">Gallery</a>
            </li>
            
        </ul>
      </div>
  </nav-->

  <!--nav id="nav-menu-container">
    
    <ul class="nav-menu">
        <li class="menu-has-children"><a routerLink="/whoweare" routerLinkActive="active">Who we are</a>
            <ul>
                <li><a routerLink="#" routerLinkActive="active">About Developneur Foundation</a></li>
                <li><a routerLink="#" routerLinkActive="active">Mission,Vision and Approach</a></li>
                <li><a routerLink="#" routerLinkActive="active">Values</a>
                    <ul>
                        <li><a routerLink="#" routerLinkActive="active">Transperency</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Knowledge Sharing</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Unity in Diversity</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Integrity</a></li>                        
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-has-children"><a routerLink="/whatwedo" routerLinkActive="active">What we do</a>
            <ul>
                <li><a routerLink="#" routerLinkActive="active">FPO (Farmer Producer Organization)</a></li>
                <li><a routerLink="#" routerLinkActive="active">Training and Development</a></li>
                <li><a routerLink="#" routerLinkActive="active">Women Enterpreneurship</a></li>
                <li><a routerLink="#" routerLinkActive="active">Gender Equality</a></li>
                <li><a routerLink="#" routerLinkActive="active">Research</a></li>
                <li><a routerLink="#" routerLinkActive="active">Value-Chain</a></li>
                <li><a routerLink="#" routerLinkActive="active">ICT4D</a></li>
                <li><a routerLink="#" routerLinkActive="active">Livelihood</a>
                    <ul>
                        <li><a routerLink="#" routerLinkActive="active">Off-farm</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Non-farm</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Farm</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-has-children"><a routerLink="#" routerLinkActive="active">Partners and Support</a>
            <ul>
                <li><a routerLink="#" routerLinkActive="active">Reach Us</a></li>
            </ul>
        </li>
        
        <li class="menu-has-children"><a routerLink="#" routerLinkActive="active">Team</a>
            <ul>
                <li><a routerLink="#" routerLinkActive="active">Board and Advisior</a></li>
                <li><a routerLink="#" routerLinkActive="active">Core Team</a></li>
                <li><a routerLink="#" routerLinkActive="active">Volunteer</a></li>
                <li><a routerLink="#" routerLinkActive="active">Interns</a></li>
            </ul>
        </li>
        <li><a routerLink="/login" routerLinkActive="active">Login/Sign Up</a></li>
    </ul>
  </nav-->

  <mat-toolbar color="primary" id="tool"><span routerLink="/"> <mat-icon>eco</mat-icon>Developneur Foundation</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/whoweare" routerLinkActive="active">Who we are</a>
    <a mat-button routerLink="/whatwedo" routerLinkActive="active">What we do</a>
    <a mat-button routerLink="#" routerLinkActive="active">Partners and Support</a>
    <a mat-button routerLink="#" routerLinkActive="active">Team</a>
    <a mat-raised-button color="accent" routerLink="/login" routerLinkActive="active">Login/SignUp</a>
  </mat-toolbar>
  
   